* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    width: 250px;
    height: 350px;
    border: 2px solid brown;
    background: #80808059;
    border-radius: 60px;
    margin: 5px 5px;
}

.box img {
    height: 100px;
    display: block;
    margin: auto;
}

.box h3 {
    text-align: center;
    margin-top: 6px;
    color: #ac1111;
    font-size: 21px;
}

.box p {
    text-align: center;
    padding: 0px 21px 0px 21px;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}

.box button {
    display: block;
    margin: auto;
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid brown;
    background: brown;
    color: #fff;
    font-family: 'Bree Serif', serif;
    transition: all .3s ease-in-out;
}

.box button:hover {
    color: brown;
    background: #fff;
}